/* cart section styles here */
.cart {
    text-align: center;
    border: 1px solid rgb(183, 212, 20);
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.cart:hover {
    box-shadow: 0 3px 10px rgb(150, 167, 59);
}
.cart h3 {
    color: rgb(211, 27, 27);
}